<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  面向接口开发  -->
<mapper namespace="com.yh.dao.TousuMapper">

<resultMap type="Tousubiao" id="touMap">
  <id property="id" column="id"/>
  <result property="article_id" column="article_id"/>
  <result property="user_id" column="user_id"/>
  <result property="complaintype" column="complaintype"/>
  <result property="urlip" column="urlip"/>
  
</resultMap>

<select id="tousulist" resultMap="touMap">
  select * from cms_complainn a left join cms_article b on a.id==b.id 
  <where>
    <if test="null!=complaintype and complaintype!=''">
       and complaintype like '%${complaintype}%'
    </if>
    <if test="null!=complaintype">
      and complaintype>=${created}
    </if>
    <if test="null!=complaintype">
      and complaintype &lt;complaintype
    </if>
  </where>
  group bt desc
</select>

</mapper>